<div class="row">
    <div class="col-md-12">
        <h2>Carrinho</h2>
    </div>
</div>
<div class="row">
    <table class="table col-md-12">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Produtos">
                <td>{{item.Produto.Nome}}</td>
                <td>{{item.Quantidade}}</td>
                <td>{{item.Produto.Valor | currency:'BRL'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <strong> <span class="col-md-12">TOTAL: {{Total() | currency:'BRL'}}</span></strong>
</div>