<div>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            Categorias
        </button>
        <button type="button" class="list-group-item list-group-item-action">Informática</button>
        <button type="button" class="list-group-item list-group-item-action">TV</button>
        <button type="button" class="list-group-item list-group-item-action">Drones</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
        <button type="button" class="list-group-item list-group-item-action">Name</button>
    </div>
</div>