<div fxLayout="row">
    <div fxFlex="60" fxFlexOffset="20">
        <h2 fxLayoutAlign="center">Login</h2>
    </div>
</div>
<div fxLayout="row">
    <div class="login-container">
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="60" fxFlexOffset="20">
        <h2 fxLayoutAlign="center">Cadastro</h2>
    </div>
</div>